#page-about {
    display: block;
    position: absolute;
    width: 40%;
    top: 130%; /* top: 20%; */
    left: 30%; /* left: 30% */
    z-index: 200;
    transition: all 0.35s;
}
.about-panel {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.67);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-align: center;
    margin-bottom: 8px;
    padding: 5px;
}
.about-panel p {
    margin: 10px;
    font-size: 18px;
}
.about-panel > a {
    text-decoration: none;
    cursor: inherit;
    border: 0;
}
.references a {
    color: deepskyblue;
    margin: 0.4vw;
    cursor: inherit;
}
.sns-icon {
    display: inline-block;
    filter: brightness(0.9);
    margin:  0.26vw;
    text-decoration: none;
    vertical-align: bottom;
    cursor: inherit;
}
.sns-icon:hover {
    filter: brightness(0.7);
    cursor: inherit;
}

#pageTrivia {
    display: none;
    width: 70%;
    margin: 0 auto 10px auto;
    z-index: 5;
}

.triviaCategory {
    font: italic 16px "Mate SC";
    color: #b7b7b7;
}

.triviaQuestion {
    text-transform: lowercase;
    padding-bottom: 0.5em;
}

.triviaChoices {
    display: inline-block;
    background-color: #141010; /* #120e0e*/
    color: #c8c8c8;
    padding: 0.2em;
    border: 1px solid #120e0e;
    margin: 0 -2px;
    text-align: center;
    text-decoration: none;
    cursor: inherit;
    width: 50%;
    font: inherit;
    text-transform: lowercase;
}

.triviaChoices:hover {
    filter: brightness(0.8);
}
.triviaChoices:active {
    filter: brightness(0.6);
}
