#craftingContainer {
    display: none;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    margin: auto;
    overflow-y: scroll;
    border-radius: 1.042vw;
}

.craftBg {
    position: absolute;
    z-index: 3;
    border-radius: 1.042vw;
    filter: brightness(0.8);
    opacity: 1;
    display: block;
    height: 100%;
    width: 100%;
    
}


::-webkit-scrollbar {
    width: 0;
}
.wlistItem:hover>div {
    border-radius: 0.26vw;
    border: 0.16vw solid whitesmoke; /* 3px */
}
.wlistItem:active>div {
    border-radius: 0.26vw;
    border: 0.16vw solid #e7f837;
}
.wlistItem:hover img:nth-child(1), .wlistItem:active img:nth-child(1) {
    width: 3.486vw;
    height: auto;
    border: 0.16vw solid black;
    border-left: none;
    border-bottom: none;
    border-top: none;
}

.wlistItem:hover .wlistItem-desc {
    width: 13.33vw;
}
.wlistItem:hover p.wlistItem-name, .wlistItem:active p.wlistItem-name {
    padding-top: 0.06vw;
}
.wlistItem:hover .nameAndType, .wlistItem:active .nameAndType {
    width: 9.49vw;
    border-top-right-radius: 3px;
}
.wlistItem:hover p.listItem-reqAR, .wlistItem:active p.listItem-reqAR {
    padding: 0.1vw 0vw 0.26vw 0.03vw;
}
.wlistItem:hover p.listItem-reqAR2, .wlistItem:active p.listItem-reqAR2 {
    /*padding: 0.05vw 0.29vw 0.16vw 0;*/
    margin-left: -0.135vw;
    height: 1.9vw;
}

.w-infoLv,   .w-infoRow, .w-infoStats {
    border-left: 0.32vw solid #343330; /* 6px */
    padding-left: 10px;
    margin: 0.51vw 0 0.25vw 0; /* 10px 0 5px 0 */
    color: #343330;
    font-size: 1.05vw;
    position: relative;
    top: 0.52vw;
    display: inline-block;
    font-weight: bold;
}
.w-infoLv {
    width: 21vw;
}

.w-eleHolder {
    width: 13vw;
    margin-top: -0.8vw;
}
.w-infoEle {
    width: 4vw;
    height: auto;
    display: inline-block;
}
.w-infoEleImg {
    vertical-align: sub;
    display: inline-block;
    width: 1.7vw;
    height: auto;
    filter: brightness(0.18);
}
.w-infoElePower {
    border: none;
    display: inline-block;
    width: 3vw;
    height: auto;
    
}

.w-infoStatRow {
    margin: 0;
    width: 10.8vw; /* 210px, 10.939vw */
    display: inline-block;
    display: block;
    position: relative;
    height: auto;
    overflow: hidden;
}

.w-infoStats {
    position: absolute;
    top: 0.52vw;
    right: 3vw;
    height: auto;
}

.w-infoEleImg:hover+.tooltip {
    display: block;
}

.eleTooltip {
    border-radius: 0.52vw;
    filter: drop-shadow(0 2px 2px black);
    margin: -13.4vw 0 0 -32.4vw;
}

.wlunoHolder {
    background-color: #34393a;
    border-color: #111213;
    display: block;
}

.wreqLuno {
    color: white;
    background-color: #34393a;
}
.w-infoImg {
    display: block;
    text-align: center;
    height: auto;
    position: absolute;
    top: 0.2rem;
    left: 4vw;
    width: 10vw;
    filter: drop-shadow(0 0px 1px black);
}

/* ---------------- Toggle button ------------------ */

.levelToggle {
    display: inline-block;
    margin: 0.5vw 0.52vw 0 0 ;
    float: right;
}

.switch {
    position: relative;
    display: inline-block;
    z-index: 201;
    width: 1.963vw;;
    height: 2.5vw;
    
}

.switch+p {
    text-align: center;
    margin-top: 0.26vw;
    font-size: 0.6775vw;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    border-radius: 0.26vw;
    cursor: url(images/cursor.png), pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c8c8c8;
    -webkit-transition: .2s;
    transition: .2s;
    filter: brightness(0.7);
}
.slider:before {
    position: absolute;
    content: "MIN";
    font-size: 0.5vw;
    font-family: "Roboto";
    color: darkgray;
    height: 1.146vw;
    width: 1.546vw;
    left: 0.208vw;
    bottom: 0.208vw;
    background-color: #161211;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 0.26vw;
    line-height: 1.246vw;
    box-sizing: border-box;
    text-align: center;
}
input:checked + .slider {
    background-color: crimson;
    filter: brightness(1);
    box-shadow: 0 0 10px crimson;
}
input:checked + .slider:before {
    -webkit-transform: translateY(-0.938vw);
    -ms-transform: translateY(-0.938vw);
    transform: translateY(-0.938vw);
    content: "MAX";
    filter: brightness(1);
}



