#ImajinnContainer {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index 5;
    margin: auto;
    border-radius: 1.042vw;
}
.listHolder {
    display: block;
    opacity: 1;
    position: absolute;
    width: auto;
    height: 100%;
    /*background: url(images/map/mapbg.jpg);*/
}
.craftListContainer {
    display: block;
    position: relative;
    top: 8.1vw;
    left: 4.345vw; /* 2.71vw */
    width: 23rem;
    margin: auto;
    height: 29.12vw;
    vertical-align: center;
    overflow: scroll;
    z-index: 20;
    
}

#imajinnInfo, #wepInfo {
    position: absolute;
    z-index: 5;
    width: 68%;
    top: 2%;
    left: 28%;
    height: 98%;
    opacity: 1;
}
.i-infoName, .w-infoName {
    font-size: 2.09vw; /* 40px */
    text-align: center;
    background: repeat-y url(images/crafting/craftBG.png);
    color: white;
    margin-top: 3.94vw;
    height: 2.63vw;
    width: 55vw;
    position: relative;
    left: -0.56vw;
}
.i-infoHolder, .w-infoHolder {
    margin: 1.05vw 0 0.5vw 0;
    height: 35%;
    background-color: #cdccc9;
    position: relative;
    overflow: hidden;
    border-radius: 0.26vw;
    filter: drop-shadow(0 0px 2px #080605);
}

.i-infoImgHolder, .w-infoImgHolder {
    height: 0;
    width: 100%;
}
.i-infoTextHolder, .w-infoTextHolder, .i-infoTextHolderJP {
    position: relative;
    display: inline-block;
    height: auto;
    left: 34%;
}

.i-infoTextHolderJP {
    position: absolute;
    font-size: 0.95vw;
}

.i-infoVid {
    display: block;
    height: auto;
    width: 37%; /* 366px, 35%*/
}
.i-infoImg {
    display: none;
    text-align: center;
    height: auto;
    position: absolute;
    top: 1.7rem;
    left: 6%;
    width: 12vw;
}

.i-infoLv, .i-infoEle, .i-infoCD, .i-infoSkill, .i-infoAbil, .i-infoSkillPower, .i-infoAbilPower, .i-infoStatRow, .i-infoElePower, .i-infoSkillPwrRow {
    border-left: 0.32vw solid #343330; /* 6px */
    padding-left: 10px;
    margin: 0.51vw 0 0.25vw 0; /* 10px 0 5px 0 */
    color: #343330;
    font-size: 1.05vw;
    position: relative;
    top: 0.52vw;
    display: inline-block;
    font-weight: bold;
}

.i-infoSkillPower {
    border: none;
}

.i-infoRow, .w-infoRow {
    display: inline-block;
    position: relative;
    width: 61.05%; /* 61.05% */
}

.i-infoLv, .w-infoLv {
    font-size: 1.3vw; /* 25px */
}

.i-infoEle, .w-infoEle {
    width: 7.3vw; /* 140px */
}
.i-infoElePower, .w-infoElePower {
    width: 11.46vw; /* 220px */
}
.i-infoSkill, .i-infoAbil {
    width: 18.96vw; /* 364px */
}

.hideTooltip {
    display: none;
}

.i-slotIcon {
    position: absolute;
    display: inline-block;
    top: 0.95vw;
    left: 5.28vw;
    width: 1.4vw;
    height: auto;
}

.i-infoStats, .w-infoStats {
    margin-top: 0.3vw;
}
.i-infoStatRow {
    margin: 0;
    min-width: 10.8vw; /* 210px, 10.939vw */
    display: inline-block;
}
.i-infoSkillPwrRow {
    display: inline-block;
    margin: 0;
    min-width: 9.8vw;
}

.statName, .wstatName {
    /* 155px, 8vw */
    display: inline-block;
}

.i-infoStatVal, .w-infoStatVal {
    margin: 0;
    width: 30px;
    height: 20px;
    border: none;
    color: #343330; 
    font-size: 1.05vw; /* 20px */
    font-weight: bold;
    float: right;
}

.recipeHolder, .wrecipeHolder {
    margin: 0 0 0.26vw 0; /* 20px 0 5px 0 */
    width: 50%;
    border-radius: 0.26vw;
    height: auto;
    background-color: #cdccc9;
    padding: 1.05vw 0; /* 20px 0 */
    background-color: none;
    border-left: 0.73vw solid #464444; /* 14px */
    border-top: 2.09vw solid #464444; /* 40px */
    display: inline-block;
    position: relative;
    filter: drop-shadow(0 0px 2px black);
}

.infoBoxHeader {
    position: absolute;
    color: white;
    font-size: 1.3vw; /* 25px */
    margin-top: -2.915vw; /* -56px */
    margin-left: 0.26vw; /* 5px */
}

.matItem, .wmatItem, .abil, .reqLuno, .matCount, .wmatCount, .wreqLuno {
    color: #343330;
    font-size: 1.25vw; /* 24px */
    font-weight: bold;
    padding: 0 0 0 0.785vw; /* 0 0 0 15px */
}
.matItem, .wmatItem {
    width: 21.7vw; /* 340px */
    display: inline-block;
}
.matIcon, .wmatIcon {
    display: inline-block;
    height: auto;
    width: 1.042vw;
    vertical-align: top;
    margin-top: 0.26vw;
    filter: drop-shadow(0 2px 2px #161211);
}
.matIcon:hover, .wmatIcon:hover {
    filter: brightness(0.8) drop-shadow(0 2px 2px #161211);
}
.matCount, .wmatCount {
    color: #343330;
    display: inline-block;
    margin-left: -3vw;
    position: relative;
    left: 3vw;
    height: auto;
    width: 2vw;
}

.recipeTooltip, .wrecipeTooltip {
    background: url(images/map/moveAsterleeds.jpg) no-repeat -42.4vw -17.2vw/80.25vw; /* 600px, 31.25vw */
    border: none;
    width: 15.5803vw; /* 300px */
    height: 15.5803vw;
    position: absolute;
    z-index: 70;
    margin-top: -17vw; /* 330px */
    left: 23.5%;
    display: none;
}
.matIcon:hover+div, .wmatIcon:hover+div {
    display: block;
}
.recipeToolImg, .wrecipeToolImg {
    width: 1.042vw; /* 20px */
    height: auto;
    filter: drop-shadow(0px 2px 3px black);
;}
.recipeToolText, .wrecipeToolText {
    font-size: 0.83vw; /* 16px */
    filter: drop-shadow(0 2px 1px black);
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 0.56vw;
    width: 15vw; /* 285px */
}

.abilityHolder {
    margin: 0 0 0 0.26vw;
    width: 48.68%;
    height: auto;
    background-color: #cdccc9;
    padding: 1.05vw 0;
    background-color: none;
    border-top: 2.09vw solid #464444; /* 40px */
    display: inline-block;
    border-radius: 0.26vw;
    filter: drop-shadow(0 0px 2px black);
}

.lunoHolder, .wlunoHolder {
    height: auto;
    width: 50%;
    margin-top: 5px;
    background-color: #cdccc9;
    padding: 1.05vw 0; /* 20px 0 */
    background-color: none;
    border-left: 0.73vw solid #464444; /* 14px */
    border-top: 2.09vw solid #464444; /* 40px */
    display: inline-block;
    border-radius: 0.26vw;
    filter: drop-shadow(0 0px 2px black);
}

.reqLuno, .wreqLuno {
    font-family: "Roboto";
    color: #343330;
    font-weight:600;
    font-size: 2.605vw; /* 50px */
    background-color: #c8c8c8;
    float: right;
    text-align: right;
    position: relative;
    margin: -3.1vw 0 -1.05vw 0; /* -50px 0 -19px 0 */
    width: 15.65vw; /* 300px */
    height: auto;
    top: -0.052vw;
    padding-right: 1.3vw; /* 25px */
    padding-top: 0.6vw;
    border-top-right-radius: 0.26vw;
}

.listItem, .wlistItem {
    width: 100%;
    height: auto; /* 84px, 4.37vw */
    margin-bottom: 0.52vw; /* 10px */
    
}

.listItem:hover>div {
    border-radius: 0.26vw;
    border: 0.16vw solid whitesmoke; /* 3px */
}
.listItem:active>div {
    border-radius: 0.26vw;
    border: 0.16vw solid #e7f837;
}
.listItem:hover img:nth-child(1), .listItem:active img:nth-child(1) {
    width: 3.486vw;
    height: auto;
    border: 0.16vw solid black;
    border-left: none;
    border-bottom: none;
    border-top: none;
    
}

.listItem:hover .listItem-desc {
    width: 13.33vw;
}
.listItem:hover p.listItem-name, .listItem:active p.listItem-name {
    padding-top: 0.06vw;
    
}
.listItem:hover .nameAndType, .listItem:active .nameAndType {
    width: 9.49vw;
    border-top-right-radius: 3px;
}
.listItem:hover p.listItem-reqAR, .listItem:active p.listItem-reqAR {
    padding: 0.1vw 0vw 0.26vw 0.03vw;
}
.listItem:hover p.listItem-reqAR2, .listItem:active p.listItem-reqAR2 {
    /*padding: 0.05vw 0.29vw 0.16vw 0;*/
    margin-left: -0.135vw;
    height: 1.9vw;
}

.listItem-desc, .wlistItem-desc {
    
    background-color: #c8c8c8;
    display: inline-block;
    max-width: 284px; /* 284px */
    height: 3.6vw; /* 84px */
    border-radius: 0.26vw;
    border-top-left-radius: 1.042vw;
    border-top-right-radius: 1.042vw;
    border-bottom-left-radius: 1.042vw;
}

.listItem-icon, .wlistItem-icon {
    background-color: black;
    border: 0.16vw solid black; /* 10px */
    width: 3.646vw; /* 64px */
    max-width: 70px;
    display: inline-block;
    float:left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.nameAndType {
    width: 9.7006vw;/* 200px */
    background-color: #11100f;
    height: auto;
    position: relative;
    display: inline-block;
    border-top-right-radius: 5px;
}

.listItem-name, .wlistItem-name {
    display: inline-block;
    vertical-align: top;
    padding: 0.22vw 0.52vw 0.16vw 0.22vw; /* 10px 10px 5px 10px */
    font-size: 0.851vw; /*18px*/ 
    width: 9.4369vw; /* 200px */
    height: auto;
}

.listItem-type, .wlistItem-type {
    padding: 0 0 0.26vw 0.22vw;
    font-size: 0.661vw; /* 14px */
}

.listItemAR {
    font-size: 0.85164vw;
    display: inline-block;
    position: absolute;
    margin-left: 5px;
    height: auto; /* 84px */
    width: 3.7599vw; /* 80px */
    background-color: #c8c8c8;
    border-radius: 1.042vw;
    border-bottom-left-radius: 0.26vw;
    border-bottom-right-radius: 0.26vw;
}

.listItem-reqAR {
    background-color: #11100f;
    padding: 0.26vw;/* 5px 0px */
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.listItem-reqAR2 {
    font-size: 1.71vw; /* 40px */
    text-align: center;
    font-weight: bold;
    color: #4d4b4b;
    width: 3.7599vw;
    /*padding: 0.03vw;*/
    vertical-align: bottom;
}

.imajType, .wepType {
    background-color: #11100f;
    border-radius: 0.052vw;
    width: 17.4vw;
    height: 4.20vw;
    position: absolute;
    z-index: 200;
    left: 4.3vw;
    top: 3.49vw;
    display: inline-block;
    opacity: 1;
}
.iiSelector, .biSelector {
    text-align: center;
    margin: 0.5vw 0 0.32vw 0.52vw;
    display: inline-block;
    font-size: 0.6775vw; /* 13px */
    filter: brightness(0.8);
}
.iiSelImg, .biSelImg {
    width: 2.1vw;
    height: auto;
    
    
}
.iiSelector:hover, .biSelector:hover {
    filter: brightness(1.5);
}
.listSelected {
    filter: brightness(1.5);
}
.listSelected>img {
    filter: drop-shadow(0 0 3px yellow);
}