.navibar {
    width: auto;
    border-bottom-right-radius: 15px;
    position: fixed;
    height: 64px;
    z-index: 500;
    box-shadow: 0 0 3px black;
    background-color: rgba(0, 0, 0, 0.67); /* #161322 */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
}
.collapsable {
    width: 487px;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    transition: all 0.5s ease;
    line-height: 64px;
    vertical-align: middle;
    margin: 0 -4px;
}
.navicon {
    font-family: "Blue Protocol";
    font-size: 40px;
    color: #c8c8c8;
    padding: 8px 20px;
    vertical-align: middle;
}
img.navicon {
    height: 50px;
    width: 50px;
    padding: 4px;
    opacity: 0.8;
}
img.navicon:hover { 
    opacity: 0.5;
}
#buttonAbout {
    border-right: 2px solid #282828; /* #333059 */
}
#buttonAbout:hover { 
    color: #888888;
}
#buttonImajinn { 
    margin-left: 6px;
}
.arrow {
    background: transparent;
    height: 11px;
    width: 11px;
    transform: rotate(45deg);
    cursor: inherit;
    position: relative;
    vertical-align: middle;
}
.arrow-left {
    border-left: 3px solid #282828;
    border-bottom: 3px solid #282828;
    left: 1px;
}
.arrow-right {
    border-right: 3px solid #282828;
    border-top: 3px solid #282828;
    left: -2px;
}
.arrow-holder {
    display: inline-block;
    width: auto;
    line-height: 60px;
    margin-left: 0px;
    padding: 0 8px;
    vertical-align: middle;
    height: 64px;
}
.arrow-holder:hover {
    opacity: 0.5;
}
.locales {
    bottom: 0;
    width: fit-content;
    position: fixed;
    padding: 5px;
    border-top-right-radius: 15px;
    z-index: 500;
    box-shadow: 0 0 3px black;
    background-color: rgba(0, 0, 0, 0.67);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.locale-hint {
    display: inline-block;
    text-align: center;
    margin: 4px 4px 0 0;
    height: 32px;
}
.locale-hint > img {
    width: 32px;
}
.locale-hint > span {
    display: none;
}
.locale-hint:hover > span {
    display: block;
}