*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #080605;
    font-family: "Roboto", Arial;
    color: #c8c8c8;
    cursor: url(images/cursor.png), pointer;
    
    /* So ChuLay can go fuck himself */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#header {
    position: fixed;
    text-align: center;
    height: 10%;
    width: 80%;
    left: 10%;
    background-color: ;
    animation: fadeInRise 1s ease-in 2s 1 forwards;
    opacity: 0;
    z-index: 5;
    
}
#footer {
    bottom: 0;
    height: 10%;
    width: 80%;
    left: 10%;
    position: fixed;
    background-color: ;
    animation: fadeInRise 1s ease-in 2s 1 forwards;
    opacity: 0;
    z-index: 5;
}

@keyframes fadeInRise {
    0% {
        opacity: 0;
        visibility: visible;
        transform: translate(0, 5px);
    }
    50% {
        transform: translate(0, 0px);
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes fadeOutDrop {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 5px);
    }
    100% {
        opacity: 0;
        visibility: visible;
    }
}

#leftmargin {
    left: 0;
    position: fixed;
    width: 10%;
    height: 100%;
    background-color: ;
}
#rightmargin {
    right: 0;
    position: fixed;
    width: 10%;
    height: 100%;
    background-color: ;
}

/* ---------------- NAVIGATION ---------------- */

.navibar {
    margin: 0 auto;
    margin-top: 2%;
}

.navicon {
    position: relative;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    animation: shrinkIcon 0.1s ease 0s 1 forwards;
}

.navicon:hover {
    animation: enlargeIcon 0.1s ease 0s 1 forwards;
}

.navicon:hover ~ p {
    visibility: visible;
    animation: fadeInRise 0.2s ease 0s 1 forwards;
}

.menubutton {
    display: inline-block;
}

.menutext {
    visibility: hidden;
    font-family: 'Mate SC'; font-size: 13px;
    text-decoration: none;
    animation: fadeOutDrop 0.2s ease 0s 1 backwards;
}

@keyframes enlargeIcon {
    0% {
        transform: scale(1);
        margin-left: 0px;
        margin-right: 0px;
        filter: brightness(0.8);
    }
    50% {
        filter: brightness(0.9);
    }
    100% {
        transform: scale(1.3);
        margin-left: 5px;
        margin-right: 5px;
        filter: brightness(0.9);
    }
}

@keyframes shrinkIcon {
    0% {
        transform: scale(1.3);
        margin-left: 5px;
        margin-right: 5px;
        filter: brightness(0.9);
    }
    50% {
        filter: brightness(0.8);
    }
    100% {
        transform: scale(1);
        margin-left: 0px;
        margin-right: 0px;
        filter: brightness(0.8);
    }
}

.navicon:active {
    animation: clickIcon 0.1s ease-in-out 0s 1 forwards;
}

@keyframes clickIcon {
    0% {
        transform: scale(1.3);
        margin-left: 5px;
        margin-right: 5px;
        filter: brightness(0.9);
    }
    50% {
        filter: brightness(0.65);
    }
    100% {
        transform: scale(1);
        margin-left: 0px;
        margin-right: 0px;
        filter: brightness(0.65);
    }
}

.socials {
    right: 0;
    top: 0;
    position: absolute;
}
.socials > a {
    text-decoration: none;
}

.iconother {
    display: inline-block;
    position: relative;
    filter: brightness(0.9);
    margin: 5px;
}
.iconother:hover {
    filter: brightness(0.7);
}


/* ---------------- PAGES ---------------- */

#container > div {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    width: 80%;
    background-position: center 50%; 
    background-repeat: no-repeat;
}

#bg-default {
    background-image: url(images/0.png);
}

.bg-default-animation {
    animation: fadeIn 1s ease-in 1s 1 forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#contentViewer {
    display: none;
    background-color: #080605;
    opacity: 0.8;
    z-index: 2;
}

#pageTrivia {
    display: none;
    width: 70%;
    margin: 0 auto;
    z-index: 5;
}

.triviaCategory {
    font: italic 18px "Mate SC";
    color: #b7b7b7;
}

.triviaQuestion {
    font: normal 24px "Roboto";
}

.triviaChoices {
    display: block;
    background-color: #c8c8c8;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 15px 32px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    cursor: inherit;
}

.triviaChoices:hover {
    filter: brightness(0.8);
}
.triviaChoices:active {
    filter: brightness(0.6);
}


/* ---------------- FOOTER ---------------- */

.copyright {
    display: inline-block;
    color: gray;
    position: relative;
    font-size: 13px;
    margin-top: 0.9em;
}

.hitcounter {
    visibility: hidden;
    position: absolute;
    z-index: 1;
}

.copyright:hover .hitcounter{
    visibility: visible;
}