[submodule "bptranslatefiles"]
	path = bptranslatefiles
	url = https://github.com/mountaindewritos/bptranslatefiles
[submodule "bpassets"]
	path = bpassets
	url = https://github.com/whotookzakum/bpassets
