*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #080605;
    font-family: "Mate SC", "Kosugi Maru", "Noto Sans JP", "Roboto", "Arial";
    color: #c8c8c8;
    cursor: url(images/cursor.png), pointer;
    /* So ChuLay can go fuck himself */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scrollbar-width: none;
}
h1 {
    font-size: 1.667vw
}
h2 {
    font-size: 1.250vw;
}

#header {
    position: fixed;
    text-align: center;
    height: 10%;
    width: 80%;
    left: 10%;
    background-color: ;
    animation: fadeInRise 1s ease-in 2s 1 forwards;
    opacity: 0;
    z-index: 5;
    
}
#footer {
    bottom: 0;
    height: 10%;
    width: 80%;
    left: 10%;
    position: fixed;
    background-color: ;
    animation: fadeInRise 1s ease-in 2s 1 forwards;
    opacity: 0;
    z-index: 5;
}

@keyframes fadeInRise {
    0% {
        opacity: 0;
        visibility: visible;
        transform: translate(0, 5px);
    }
    50% {
        transform: translate(0, 0px);
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes fadeOutDrop {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 5px);
    }
    100% {
        opacity: 0;
        visibility: visible;
    }
}

#leftmargin {
    left: 0;
    position: fixed;
    width: 10%;
    height: 100%;
    background-color: ;
}
#rightmargin {
    right: 0;
    position: fixed;
    width: 10%;
    height: 100%;
    background-color: ;
}


/* ---------------- NAVIGATION ---------------- */

.navibar {
    margin: 0 auto;
    margin-top: 1.5%;
    height: 70%;
}

.navicon {
    padding-left: 0.365vw;
    padding-right: 0.365vw;
    padding-bottom: 0.365vw;
    animation: shrinkIcon 0.1s ease 0s 1 forwards;
}

.navicon:hover {
    animation: enlargeIcon 0.1s ease 0s 1 forwards;
}

.navicon:hover ~ p {
    visibility: visible;
    animation: fadeInRise 0.2s ease 0s 1 forwards;
}


.menubutton {
    display: inline-block;
}


.menutext {
    visibility: hidden;
    font-size: 0.677vw;
    text-decoration: none;
    height: 0.52vw;
    animation: fadeOutDrop 0.2s ease 0s 1 backwards;
}

@keyframes enlargeIcon {
    0% {
        transform: scale(1);
        margin-left: 0;
        margin-right: 0;
        filter: brightness(0.8);
    }
    50% {
        filter: brightness(0.9);
    }
    100% {
        transform: scale(1.3);
        margin-left: 0.26vw;
        margin-right: 0.26vw;
        filter: brightness(0.9);
    }
}

@keyframes shrinkIcon {
    0% {
        transform: scale(1.3);
        margin-left: 0.26vw;
        margin-right: 0.26vw;
        filter: brightness(0.9);
    }
    50% {
        filter: brightness(0.8);
    }
    100% {
        transform: scale(1);
        margin-left: 0;
        margin-right: 0;
        filter: brightness(0.8);
    }
}

.navicon:active {
    animation: clickIcon 0.1s ease-in-out 0s 1 forwards;
}

@keyframes clickIcon {
    0% {
        transform: scale(1.3);
        margin-left: 0.26vw;
        margin-right: 0.26vw;
        filter: brightness(0.9);
    }
    50% {
        filter: brightness(0.65);
    }
    100% {
        transform: scale(1);
        margin-left: 0;
        margin-right: 0;
        filter: brightness(0.65);
    }
}


/* ---------------- PAGES ---------------- */

#container {
    display: flex;
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    /* min-width: 1150px; */
    width: 80%;
    overflow: hidden;
    border-radius: 1.042vw;
}
#bg-default, #bg-af, #bg-ts, #bg-ba, #bg-sc, #bg-hs {
    position: absolute;
    bottom: inherit;
    top: 0%;
    width: 100%;
    height: 100%;
    background-position: center 50%; 
    background-repeat: no-repeat;
}

.bg-default-animation {
    animation: fadeIn 1s ease-in 1s 1 forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#contentViewer {
    width: 0%;
    height: 0%;
    left: 0;
    top: 0;
    display: none;
    position: absolute;
    background-color: #080605; /* #080605 */
    opacity: 0.8; /* 0.8 */
    z-index: 2;
    border-radius: 1.042vw;
}

.pageTransition {
    top: 50%;
    height: 0%;
    width: 10%;
    left: 40%;
    transition: width 1s, height 2s;
}

@keyframes pageOpen {
    0% {
        width: 0.1%;
        height: 0.5%;
        left: 49.9%;
        top: 49.5%;
    }
    40% {
        width: 100%;
        height: 0.5%;
        left: 0%;
        top: 49.5%;
    }
    50% {
        width: 100%;
        height: 0.5%;
        left: 0%;
        top: 49.5%;
    }
    100% {
        width: 100%;
        height: 100%;
        left: 0%;
        top: 0%;
    }
}

@keyframes pageClose {
    0% {
        width: 100%;
        height: 100%;
        left: 0%;
        top: 0%;
    }
    50% {
        width: 100%;
        height: 0.5%;
        left: 0%;
        top: 49.5%;
    }
    60% {
        width: 100%;
        height: 0.5%;
        left: 0%;
        top: 49.5%;
    }
    100% {
        width: 1%;
        height: 0.5%;
        left: 49%;
        top: 49.5%;
    }
}

/* ---------------- MAP ---------------- */
#mapContainer {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: 4;
    border-radius: 0.52vw;
    border: 0px solid transparent;
}

#mapToolbar {
    display: inline-block;
    position: absolute;
    height: 50px;
    width: 100%;
}

#mapSearch {
    display: inline-block;
    position: absolute;
    width: 15.625vw;
    height: 1.563vw;
    margin-top: 0.52vw;
    margin-left: 0.52vw;
    font-family: "Mate SC";
    font-size: 0.94vw;
    padding: 0.573vw 0.573vw 0.573vw 1.406vw;
    border: 2px solid #ddd;
    border-radius: 1.042vw;
    background-color: white;
    z-index: 15;
    filter: drop-shadow(0px 1px 2px);
    outline:none!important;
    opacity: 1;
}

.mapList {
    display: block;
    position: absolute;
    z-index: 14;
    left: 1.146vw;
    top: 2.083vw;
    width: 14.375vw;
    border-bottom-left-radius: 1.042vw;
    border-bottom-right-radius: 1.042vw;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    background: #080605;
    opacity: 1;
}

.mapListItem {
    display: block;
    margin: auto;
    padding: 3px;
    background-color: #161211;
    color: #c8c8c8;
    text-align: left;
    font-size: 0.94vw;
    border: 2px solid #161211;
    border-top: none;
    text-decoration: none;
}

.mapListItem-2nd {
    background-color: #24201f;
    border: 2px solid #24201f;
    border-top: 0px;
}
.mapListItem-3rd {
    background-color: #2c2928;
    border: 2px solid #2c2928;
    border-top: 0px;
}

.searchIcons {
    opacity: 1;
}

#mapSearch:hover~.mapList, .searchIcons:hover~.mapList {
    max-height: 500px;
    transition: max-height 0.2s ease-in;
}
.mapList:hover {
    max-height: 500px;
}

.listItemHover:hover {
    filter:brightness(0.8);
}
.listItemHover:active {
    filter: brightness(0.6);
}

.mapToggles {
    display: inline-block;
    position: relative;
    z-index: 50;
    vertical-align: middle;
    transform: scale(1);
    width: 1.875vw;
    max-width: 100%; /* max-width: 100% */
    height: auto;
    object-fit: cover;
}

.displayOff {
    display: none;
}

@keyframes mapOpenDrawer {
    0% {
        width: auto;
        padding: 0;
        height: 1.353vw;
        font-size: 0;
        border-width: 0;
        filter: drop-shadow(0 0 0 transparent);
    }
    15% {
        border-width: 0;
    }
    100% {
        width: auto;
        max-width: 12.458vw;
        padding: 0.26vw 0.52vw 0.26vw 0.32vw;
        height: 1.353vw;
        font-size: 0.833vw;
        border-width: 0.84vw;
        filter: drop-shadow(0 0 0 transparent);
    }
}
@keyframes mapCloseDrawer {
    0% {
        width: auto;
        max-width: 12.458vw;
        padding: 0.26vw 0.52vw 0.26vw 0.32vw;
        height: 1.353vw;
        font-size: 0.833vw;
        border-width: 0.84vw;
        filter: drop-shadow(0 0 0 transparent);
    }
    85% {
        border-width: 0;
    }
    100% {
        width: auto;
        padding: 0;
        height: 1.353vw;
        font-size: 0;
        border-width: 0;
        filter: drop-shadow(0 0 0 transparent);
    }
}


.mapToggles:hover {
    filter: brightness(0.8);
}
.mapToggles-off {
    filter: saturate(0) brightness(0.5);
}
.mapToggles-off:hover {
    filter: saturate(0)  brightness(0.3);
}

.mapImage {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
}
#mapAsterleeds, #mapAsteriaPlain, #mapBahamarHighlands {
    display: none;
    opacity: 1;
}

.mapIcon {
    display: block;
    opacity: 1;
    position: absolute;
    width: 1.875vw;
}
.mapEliteMonster {
    width: 2.083vw;
}
.mapFreeExp {
    width: 1.510vw;
}
.mapExploration {
    width: 1.563vw;
}
.mapLMpurple, .mapLMred, .mapLMblue, .mapLMgreen, .mapLMyellow {
    width: 0.938vw;
}

.warpPortal {
    filter: drop-shadow(0 0 4px black);
    width: 2.031vw;
}
.warpPortal:hover {
    filter: hue-rotate(-115deg) brightness(1.5) saturate(2) drop-shadow(0 0 2px #dbff00);
    transition: all 0.1s ease-out;
}
.warpPortal:active {
    transition: all 0.1s ease-out;
    transform: scale(0.95);
    filter: hue-rotate(-115deg) brightness(1.5) saturate(2) drop-shadow(0 0 5px #dbff00);
}
.mapMSQ {
    display: none;
}

.mapGrid {
    position: relative;
    z-index: 50;
    display: inline-block;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
    margin-right: 0.52vw; /* 10px */
    margin-top: 0.52vw;
    padding-top: 0.26vw;
    float: right;
    background-color: #161211; /* #191919 */
    border-radius: 0.625vw;
    text-align: center;
    font-size: 0.94vw;
    filter: drop-shadow(0 1px 2px black);
}
.mapGridRow {
    padding: 0.42vw; /* .5rem */
    font-size: 0.9vw; /* 1.2rem */
    text-align: center;
}
.mapExploration {
    filter: drop-shadow(0px 0px 3px black);
}
.mapExploration:hover {
    transform: scale(1.3);
}
.mapEliteMonster:hover, .mapFreeExp:hover, .mapImajinnHouse:hover, .mapWeaponShop:hover, .mapPotionShop:hover, .mapLiquidMemoryStand:hover, .mapClassMaster:hover, .mapStorage:hover, .mapExchange:hover, .mapCrafting:hover, .mapReconstructor:hover, .mapRaid:hover, .mapTimedQuest:hover {
    filter: brightness(0.8);
}

.mapLiquidMemories {
    display:none;
}
.mapLMyellow {
    filter: drop-shadow(0 0 2px #fad459);
} 
.mapLMyellow:hover {
    filter: drop-shadow(0 0 2px #fad459) brightness(0.8);
}
.mapLMblue {
    filter: drop-shadow(0 0 2px #6ac7cd);
}
.mapLMblue:hover {
    filter: drop-shadow(0 0 2px #6ac7cd) brightness(0.8);
}
.mapLMred {
    filter: drop-shadow(0 0 2px #db516a);
}
.mapLMred:hover {
    filter: drop-shadow(0 0 2px #db516a) brightness(0.8);
}
.mapLMpurple {
    filter: drop-shadow(0 0 2px #79389e);
}
.mapLMpurple:hover {
    filter: drop-shadow(0 0 2px #79389e) brightness(0.8);
}
.mapLMgreen {
    filter: drop-shadow(0 0 2px #45b343);
}
.mapLMgreen:hover {
    filter: drop-shadow(0 0 2px #45b343) brightness(0.8);
}

.mapIconHolder {
    height: 100%;
    width: 100%;
}

.pointPicture {
    display: none;
    bottom: 0%; 
    right: 0%;
    background-color: #c8c8c8;
    position: absolute;
    width: 35%;
    border-radius: 0.52vw;
    z-index: 51;
    filter: drop-shadow(0 -2px 10px black);
}
/* Screenshot of imajinn/exploration point/area map */
.mapExploration:hover+.tooltip+.pointPicture, .mapEliteMonster:hover+.tooltip+.pointPicture, .mapMove:hover+.tooltip+.pointPicture {
    display: block;
    z-index: 51;
    animation: pointPicFadeIn .15s ease-in forwards;
}

@keyframes pointPicFadeIn {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* tooltip */
.tooltip {
    display: none;
    position: fixed;
    font-size: 0.833vw; /* 16px */
    z-index: 90;
}
p.tooltip, .recipeTooltip, .wrecipeTooltip, .skillTooltip, .slotTooltip {
    z-index: 90;
    font-size: 0.833vw;
    padding: 0.26vw 0.52vw 0.26vw 0.32vw;
    width: auto;
    background-color: #161211;
    color: white;
    border-left: 0.84vw solid #30b0d1;
    border-radius: 0.52vw;
    filter: drop-shadow(0 2px 2px black);
}

/* Show tooltips */
.mapIcon:hover+.tooltip, .i-infoSkill:hover+.skillTooltip, .i-slotIcon:hover+.slotTooltip {
    display: block;
}

.skillTooltip, .slotTooltip {
    display: none;
    position: absolute;
    width: auto;
    z-index: 500;
    top: 2.5vw;
    left: 0vw;
}

.slotTooltip {
    top: 0.8vw;
    left: 7.3vw;
}

.mapToggles+p.toggleTip {
    display: block; /* block */
    position: absolute;
    line-height: 0.9vw;
    border-left: 0.84vw solid #30b0d1;
    border-top-left-radius: 0.52vw;
    border-bottom-left-radius: 0.52vw;
    background-color: #161211;
    color: white;
    right: 6.6vw;
    filter: drop-shadow(0 0 0 trasparent);
    animation: mapCloseDrawer .0s ease-in-out forwards; /* .15s */
}

.mapToggles:hover+p.toggleTip{
    display: block;
    filter: drop-shadow(0 0 0 trasparent);
    animation: mapOpenDrawer .0s ease-in-out forwards; /* .15s */
}

.mapName, .mapMove {
    width: auto;
    font-size: 1.042vw;
    color: #161211;
    background-color: white; 
    padding: 0.156vw 0.729vw;
    border: 2px set #c8c8c8;
    border-radius: 1.042vw;
    filter: drop-shadow(0 1px 2px black);
    opacity: 1;
}
.mapMove {
    opacity: 1;
    border: 0;
    font-size: 0.781vw;
    background-color: skyblue;
}

.mapMove:hover {
    filter: brightness(0.8) drop-shadow(0 1px 2px black);
}
.mapMove:active {
    filter: brightness(0.6) drop-shadow(0 1px 2px black);
}


.currentZone {
    background-color: #4a9efa;
}
.currentZone:hover {
    filter: brightness(0.9) drop-shadow(0 1px 2px black);
}

.msqNumber {
    font-family: Roboto; 
    font-weight: bold; 
    color: white; 
    position: absolute;
    font-size: 0.83vw; /* 16px */
    /*padding: 13px 0 0 16.5px;*/
    background: url(images/map/msqblank.png) no-repeat center;
    width: 2.656vw;
    height: 2.448vw;
    transform: scale(0.5);
    opacity: 1;
}
.msqNumber:hover {
    filter: hue-rotate(-35deg) saturate(2) brightness(1.3) drop-shadow(0 0 2px aliceblue);
    transform: scale(0.7);
}

.msqNumber:hover+p+.msqNumber {
    transform: scale(0.6);
    filter: hue-rotate(-135deg) saturate(2) brightness(1.3) drop-shadow(0 0 2px aliceblue);
    
}

.display-off {
    display: none;
}




/* ------------ IMAJINN ----------- */

#ImajinnContainer {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index 5;
    margin: auto;
    border-radius: 1.042vw;
}
.listHolder {
    display: block;
    opacity: 1;
    position: absolute;
    width: auto;
    height: 100%;
    /*background: url(images/map/mapbg.jpg);*/
}
.craftListContainer {
    display: block;
    position: relative;
    top: 8.1vw;
    left: 4.345vw; /* 2.71vw */
    width: 23rem;
    margin: auto;
    height: 29.12vw;
    vertical-align: center;
    overflow: scroll;
    z-index: 20;
    
}

#imajinnInfo, #wepInfo {
    position: absolute;
    z-index: 5;
    width: 68%;
    top: 2%;
    left: 28%;
    height: 98%;
    opacity: 1;
}
.i-infoName, .w-infoName {
    font-size: 2.09vw; /* 40px */
    text-align: center;
    background: repeat-y url(images/crafting/craftBG.png);
    color: white;
    margin-top: 3.94vw;
    height: 2.63vw;
    width: 55vw;
    position: relative;
    left: -0.56vw;
}
.i-infoHolder, .w-infoHolder {
    margin: 1.05vw 0 0.5vw 0;
    height: 35%;
    background-color: #cdccc9;
    position: relative;
    overflow: hidden;
    border-radius: 0.26vw;
    filter: drop-shadow(0 0px 2px #080605);
}

.i-infoImgHolder, .w-infoImgHolder {
    height: 0;
    width: 100%;
}
.i-infoTextHolder, .w-infoTextHolder, .i-infoTextHolderJP {
    position: relative;
    display: inline-block;
    height: auto;
    left: 34%;
}

.i-infoTextHolderJP {
    position: absolute;
    font-size: 0.95vw;
}

.i-infoVid {
    display: block;
    height: auto;
    width: 37%; /* 366px, 35%*/
}
.i-infoImg {
    display: none;
    text-align: center;
    height: auto;
    position: absolute;
    top: 1.7rem;
    left: 6%;
    width: 12vw;
}

.i-infoLv, .i-infoEle, .i-infoCD, .i-infoSkill, .i-infoAbil, .i-infoSkillPower, .i-infoAbilPower, .i-infoStatRow, .i-infoElePower, .i-infoSkillPwrRow {
    border-left: 0.32vw solid #343330; /* 6px */
    padding-left: 10px;
    margin: 0.51vw 0 0.25vw 0; /* 10px 0 5px 0 */
    color: #343330;
    font-size: 1.05vw;
    position: relative;
    top: 0.52vw;
    display: inline-block;
    font-weight: bold;
}

.i-infoSkillPower {
    border: none;
}

.i-infoRow, .w-infoRow {
    display: inline-block;
    position: relative;
    width: 61.05%; /* 61.05% */
}

.i-infoLv, .w-infoLv {
    font-size: 1.3vw; /* 25px */
}

.i-infoEle, .w-infoEle {
    width: 7.3vw; /* 140px */
}
.i-infoElePower, .w-infoElePower {
    width: 11.46vw; /* 220px */
}
.i-infoSkill, .i-infoAbil {
    width: 18.96vw; /* 364px */
}

.hideTooltip {
    display: none;
}

.i-slotIcon {
    position: absolute;
    display: inline-block;
    top: 0.95vw;
    left: 5.28vw;
    width: 1.4vw;
    height: auto;
}

.i-infoStats, .w-infoStats {
    margin-top: 0.3vw;
}
.i-infoStatRow {
    margin: 0;
    min-width: 10.8vw; /* 210px, 10.939vw */
    display: inline-block;
}
.i-infoSkillPwrRow {
    display: inline-block;
    margin: 0;
    min-width: 9.8vw;
}

.statName, .wstatName {
    /* 155px, 8vw */
    display: inline-block;
}

.i-infoStatVal, .w-infoStatVal {
    margin: 0;
    width: 30px;
    height: 20px;
    border: none;
    color: #343330; 
    font-size: 1.05vw; /* 20px */
    font-weight: bold;
    float: right;
}

.recipeHolder, .wrecipeHolder {
    margin: 0 0 0.26vw 0; /* 20px 0 5px 0 */
    width: 45%;
    border-radius: 0.26vw;
    height: auto;
    background-color: #cdccc9;
    padding: 1.05vw 0; /* 20px 0 */
    background-color: none;
    border-left: 0.73vw solid #464444; /* 14px */
    border-top: 2.09vw solid #464444; /* 40px */
    display: inline-block;
    position: relative;
    filter: drop-shadow(0 0px 2px black);
}

.infoBoxHeader {
    position: absolute;
    color: white;
    font-size: 1.3vw; /* 25px */
    margin-top: -2.915vw; /* -56px */
    margin-left: 0.26vw; /* 5px */
}

.matItem, .wmatItem, .abil, .reqLuno, .matCount, .wmatCount, .wreqLuno {
    color: #343330;
    font-size: 1.25vw; /* 24px */
    font-weight: bold;
    padding: 0 0 0 0.785vw; /* 0 0 0 15px */
}
.matItem, .wmatItem {
    width: 17.7vw; /* 340px */
    display: inline-block;
}
.matIcon, .wmatIcon {
    display: inline-block;
    height: auto;
    width: 1.042vw;
    vertical-align: top;
    margin-top: 0.26vw;
    filter: drop-shadow(0 2px 2px #161211);
}
.matIcon:hover, .wmatIcon:hover {
    filter: brightness(0.8) drop-shadow(0 2px 2px #161211);
}
.matCount, .wmatCount {
    color: #343330;
    display: inline-block;
    margin-left: -3vw;
    position: relative;
    left: 3vw;
    height: auto;
    width: 2vw;
}

.recipeTooltip, .wrecipeTooltip {
    background: url(images/map/moveAsterleeds.jpg) no-repeat -42.4vw -17.2vw/80.25vw; /* 600px, 31.25vw */
    border: none;
    width: 15.5803vw; /* 300px */
    height: 15.5803vw;
    position: absolute;
    z-index: 70;
    margin-top: -17vw; /* 330px */
    left: 13%;
    display: none;
}
.matIcon:hover+div, .wmatIcon:hover+div {
    display: block;
}
.recipeToolImg, .wrecipeToolImg {
    width: 1.042vw; /* 20px */
    height: auto;
    filter: drop-shadow(0px 2px 3px black);
;}
.recipeToolText, .wrecipeToolText {
    font-size: 0.83vw; /* 16px */
    filter: drop-shadow(0 2px 1px black);
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 0.56vw;
    width: 15vw; /* 285px */
}

.abilityHolder {
    margin: 0 0 0 0.26vw;
    width: 45%;
    height: auto;
    background-color: #cdccc9;
    padding: 1.05vw 0;
    background-color: none;
    border-top: 2.09vw solid #464444; /* 40px */
    display: inline-block;
    border-radius: 0.26vw;
    filter: drop-shadow(0 0px 2px black);
}

.lunoHolder, .wlunoHolder {
    height: auto;
    width: 45%;
    margin-top: 5px;
    background-color: #cdccc9;
    padding: 1.05vw 0; /* 20px 0 */
    background-color: none;
    border-left: 0.73vw solid #464444; /* 14px */
    border-top: 2.09vw solid #464444; /* 40px */
    display: inline-block;
    border-radius: 0.26vw;
    filter: drop-shadow(0 0px 2px black);
}

.reqLuno, .wreqLuno {
    font-family: "Roboto";
    color: #343330;
    font-weight:600;
    font-size: 2.605vw; /* 50px */
    background-color: #c8c8c8;
    float: right;
    text-align: right;
    position: relative;
    margin: -3.1vw 0 -1.05vw 0; /* -50px 0 -19px 0 */
    width: 15.65vw; /* 300px */
    height: auto;
    padding-right: 1.3vw; /* 25px */
    padding-top: 0.6vw;
    border-top-right-radius: 5px;
}

.listItem, .wlistItem {
    width: 100%;
    height: auto; /* 84px, 4.37vw */
    margin-bottom: 0.52vw; /* 10px */
    
}

.listItem:hover>div {
    border-radius: 0.26vw;
    border: 0.16vw solid whitesmoke; /* 3px */
}
.listItem:active>div {
    border-radius: 0.26vw;
    border: 0.16vw solid #e7f837;
}
.listItem:hover img:nth-child(1), .listItem:active img:nth-child(1) {
    width: 3.486vw;
    height: auto;
    border: 0.16vw solid black;
    border-left: none;
    border-bottom: none;
    border-top: none;
    
}

.listItem:hover .listItem-desc {
    width: 13.33vw;
}
.listItem:hover p.listItem-name, .listItem:active p.listItem-name {
    padding-top: 0.06vw;
    
}
.listItem:hover .nameAndType, .listItem:active .nameAndType {
    width: 9.49vw;
    border-top-right-radius: 3px;
}
.listItem:hover p.listItem-reqAR, .listItem:active p.listItem-reqAR {
    padding: 0.1vw 0vw 0.26vw 0.03vw;
}
.listItem:hover p.listItem-reqAR2, .listItem:active p.listItem-reqAR2 {
    /*padding: 0.05vw 0.29vw 0.16vw 0;*/
    margin-left: -0.135vw;
    height: 1.9vw;
}

.listItem-desc, .wlistItem-desc {
    
    background-color: #c8c8c8;
    display: inline-block;
    max-width: 284px; /* 284px */
    height: 3.6vw; /* 84px */
    border-radius: 0.26vw;
    border-top-left-radius: 1.042vw;
    border-top-right-radius: 1.042vw;
    border-bottom-left-radius: 1.042vw;
}

.listItem-icon, .wlistItem-icon {
    background-color: black;
    border: 0.16vw solid black; /* 10px */
    width: 3.646vw; /* 64px */
    max-width: 70px;
    display: inline-block;
    float:left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.nameAndType {
    width: 9.7006vw;/* 200px */
    background-color: #11100f;
    height: auto;
    position: relative;
    display: inline-block;
    border-top-right-radius: 5px;
}

.listItem-name, .wlistItem-name {
    display: inline-block;
    vertical-align: top;
    padding: 0.22vw 0.52vw 0.16vw 0.22vw; /* 10px 10px 5px 10px */
    font-size: 0.851vw; /*18px*/ 
    width: 9.4369vw; /* 200px */
    height: auto;
}

.listItem-type, .wlistItem-type {
    padding: 0 0 0.26vw 0.22vw;
    font-size: 0.661vw; /* 14px */
}

.listItemAR {
    font-size: 0.85164vw;
    display: inline-block;
    position: absolute;
    margin-left: 5px;
    height: auto; /* 84px */
    width: 3.7599vw; /* 80px */
    background-color: #c8c8c8;
    border-radius: 1.042vw;
    border-bottom-left-radius: 0.26vw;
    border-bottom-right-radius: 0.26vw;
}

.listItem-reqAR {
    background-color: #11100f;
    padding: 0.26vw;/* 5px 0px */
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.listItem-reqAR2 {
    font-size: 1.71vw; /* 40px */
    text-align: center;
    font-weight: bold;
    color: #4d4b4b;
    width: 3.7599vw;
    /*padding: 0.03vw;*/
    vertical-align: bottom;
}

.imajType, .wepType {
    background-color: #11100f;
    border-radius: 0.052vw;
    width: 17.4vw;
    height: 4.20vw;
    position: absolute;
    z-index: 200;
    left: 4.3vw;
    top: 3.49vw;
    display: inline-block;
    opacity: 1;
}
.iiSelector, .biSelector {
    text-align: center;
    margin: 0.5vw 0 0.32vw 0.52vw;
    display: inline-block;
    font-size: 0.6775vw; /* 13px */
    filter: brightness(0.8);
}
.iiSelImg, .biSelImg {
    width: 2.1vw;
    height: auto;
    
    
}
.iiSelector:hover, .biSelector:hover {
    filter: brightness(1.5);
}
.listSelected {
    filter: brightness(1.5);
}
.listSelected>img {
    filter: drop-shadow(0 0 3px yellow);
}



/* ---------------- CRAFTING ------------ */
#craftingContainer {
    display: none;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    margin: auto;
    overflow-y: scroll;
    border-radius: 1.042vw;
}

.craftBg {
    position: absolute;
    z-index: 3;
    border-radius: 1.042vw;
    filter: brightness(0.8);
    opacity: 1;
    display: block;
    height: 100%;
    width: 100%;
    
}


::-webkit-scrollbar {
    width: 0;
}
.wlistItem:hover>div {
    border-radius: 0.26vw;
    border: 0.16vw solid whitesmoke; /* 3px */
}
.wlistItem:active>div {
    border-radius: 0.26vw;
    border: 0.16vw solid #e7f837;
}
.wlistItem:hover img:nth-child(1), .wlistItem:active img:nth-child(1) {
    width: 3.486vw;
    height: auto;
    border: 0.16vw solid black;
    border-left: none;
    border-bottom: none;
    border-top: none;
}

.wlistItem:hover .wlistItem-desc {
    width: 13.33vw;
}
.wlistItem:hover p.wlistItem-name, .wlistItem:active p.wlistItem-name {
    padding-top: 0.06vw;
}
.wlistItem:hover .nameAndType, .wlistItem:active .nameAndType {
    width: 9.49vw;
    border-top-right-radius: 3px;
}
.wlistItem:hover p.listItem-reqAR, .wlistItem:active p.listItem-reqAR {
    padding: 0.1vw 0vw 0.26vw 0.03vw;
}
.wlistItem:hover p.listItem-reqAR2, .wlistItem:active p.listItem-reqAR2 {
    /*padding: 0.05vw 0.29vw 0.16vw 0;*/
    margin-left: -0.135vw;
    height: 1.9vw;
}

.w-infoLv,   .w-infoRow, .w-infoStats {
    border-left: 0.32vw solid #343330; /* 6px */
    padding-left: 10px;
    margin: 0.51vw 0 0.25vw 0; /* 10px 0 5px 0 */
    color: #343330;
    font-size: 1.05vw;
    position: relative;
    top: 0.52vw;
    display: inline-block;
    font-weight: bold;
}
.w-infoLv {
    width: 21vw;
}

.w-eleHolder {
    width: 13vw;
    margin-top: -0.8vw;
}
.w-infoEle {
    width: 4vw;
    height: auto;
    display: inline-block;
}
.w-infoEleImg {
    vertical-align: sub;
    display: inline-block;
    width: 1.7vw;
    height: auto;
    filter: brightness(0.18);
}
.w-infoElePower {
    border: none;
    display: inline-block;
    width: 3vw;
    height: auto;
    
}

.w-infoStatRow {
    margin: 0;
    width: 10.8vw; /* 210px, 10.939vw */
    display: inline-block;
    display: block;
    position: relative;
    height: auto;
    overflow: hidden;
}

.w-infoStats {
    position: absolute;
    top: 0.52vw;
    right: 3vw;
    height: auto;
}

.w-infoEleImg:hover+.tooltip {
    display: block;
}

.eleTooltip {
    border-radius: 0.52vw;
    filter: drop-shadow(0 2px 2px black);
    margin: -13.4vw 0 0 -32.4vw;
}

.wlunoHolder {
    background-color: #34393a;
    border-color: #111213;
    display: block;
}

.wreqLuno {
    color: white;
    background-color: #34393a;
}
.w-infoImg {
    display: block;
    text-align: center;
    height: auto;
    position: absolute;
    top: 0.2rem;
    left: 4vw;
    width: 10vw;
    filter: drop-shadow(0 0 2px black);
}


/* ---------------- Toggle button ------------------ */

.levelToggle {
    display: inline-block;
    margin: 0.5vw 0.52vw 0 0 ;
    float: right;
}

.switch {
    position: relative;
    display: inline-block;
    z-index: 201;
    width: 1.963vw;;
    height: 2.5vw;
    
}

.switch+p {
    text-align: center;
    margin-top: 0.26vw;
    font-size: 0.6775vw;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    border-radius: 0.26vw;
    cursor: url(images/cursor.png), pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c8c8c8;
    -webkit-transition: .2s;
    transition: .2s;
    filter: brightness(0.7);
}
.slider:before {
    position: absolute;
    content: "MIN";
    font-size: 0.5vw;
    font-family: "Roboto";
    color: darkgray;
    height: 1.146vw;
    width: 1.546vw;
    left: 0.208vw;
    bottom: 0.208vw;
    background-color: #161211;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 0.26vw;
    line-height: 1.246vw;
    box-sizing: border-box;
    text-align: center;
}
input:checked + .slider {
    background-color: crimson;
    filter: brightness(1);
    box-shadow: 0 0 10px crimson;
}
input:checked + .slider:before {
    -webkit-transform: translateY(-0.938vw);
    -ms-transform: translateY(-0.938vw);
    transform: translateY(-0.938vw);
    content: "MAX";
    filter: brightness(1);
}


/* ---------------- GAME GUIDE ---------------- */
#guideContainer {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    border-radius: 1.042vw;
    background-color: #00172b;
}

.guideMenu {
    display: inline-block;
    position: absolute;
    z-index: 50;
    width: 5%;
    height: 100%;
    background-color: #161211;
    transition: width .15s ease-in-out;
    filter:drop-shadow(0px 0 3px #130f0f);
}
.guideMenu img {
    display: inline-block;
    position: relative;
    height: 2.5vw;
    width: auto;
    opacity: 0.9;
}

.guideMenuButton {
    width: auto;
    height: 3.5vw;
    display: block;
    position: relative;
    padding: 0.52vw 0 0.52vw 0.7vw;
    /*filter: drop-shadow(0 2px 2px black)*/
}

.guideMenuButton:hover {
    filter: brightness(0.8);
    background-color: #130f0f;
}
.guideMenuButton:active {
    filter: brightness(0.8);
    background-color: #120e0e;
}
.guideMenuButton:active>p, .guideMenuButton:active>img {
    filter: brightness(2);
}
.guideSelected {
    background-color: #120e0e;
}
.guideSelected>p, .guideSelected:hover>p {
    filter: brightness(1.5);
}

.guideMenuText {
    display: block;
    position: absolute;
    top: 1.15vw;
    font-size: 0.938vw;
    left: 4vw;
    height: 23px;
    width: 0vw;
    overflow-x: hidden;
    z-index: 20;
    opacity: 0;
    transition: opacity .0s ease-in-out, width 0.1s ease-in-out;
}

.guideMenu:hover{
    width: 17%;
    transition: width .15s ease-in-out;
}
.guideMenu:hover .guideMenuText {
    opacity: 0.8;
    width: 9vw;
    transition: opacity .3s ease-in-out, width 0.1s ease-in-out;
}

.liqMemPage, .combatPage, .elementsPage, .dungeonsPage, .raidsPage, .buffsPage, .progressionPage, .storyPage {
    display: none;
    z-index: 20;
    width: 100%;
    height: 100%;
    text-align: center;
}
.storyPage {
    display: block;
}

.liqMemPage > p {
    margin: 0.52vw 8vw;
    position: relative;
    font-size: 0.833vw;
}
.liqMemChart {
    margin: auto;
    width: 25vw;
    text-align: left;
    filter: drop-shadow(0 2px 2px black);
}
.liqMemChart > p { 
    display: inline-block;
    height: 2.6vw;
    line-height: 1vw;
    width: 21.8vw;
    vertical-align: bottom;
    font-size: 1.142vw;
}
.liqMemChart > img {
    margin: 0 0.5vw 0 0;
    width: 1.5vw;
    display: inline-block;
}


/* ------------- BUBBLES -------------- */
#bubbles { 
    width: 100%;
}
.bubble {
    width: 3.125vw;
    height: 3.125vw;
    background: white;
    border-radius: 10.417vw;
    -moz-border-radius: 10.417vw;
    -webkit-border-radius: 10.417vw;
    position: absolute;
    z-index: 10;
    
}

.bubble:active {
    display: none;
}

.x1 {
    left: 40vw;
    background: #45b343;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.2;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x2 {
    left: 10.417vw;
    background: #db516a;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.5;
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
    left: 44.010vw;
    background: #fad459;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    left: 33.438vw;
    background: #6ac7cd;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.35;
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
    left: 7.813vw;
    background: #79389e;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3; 
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
.x6 {
    left: 51.406vw;
    background: white;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.2;
    -webkit-animation: moveclouds 9s linear infinite, sideWays 1.8s ease-in-out infinite alternate;
    -moz-animation: moveclouds 9s linear infinite, sideWays 1.8s ease-in-out infinite alternate;
    -o-animation: moveclouds 9s linear infinite, sideWays 1.8s ease-in-out infinite alternate;
}
.x7 {
    left: 72.427vw;
    background: pink;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.5;
    -webkit-animation: moveclouds 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: moveclouds 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -o-animation: moveclouds 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
}

@-webkit-keyframes moveclouds { 
    0% { 
        top: 100%;
        opacity: 0;
    }
    100% { 
        top: -10%;
    }
}
@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}
@-moz-keyframes moveclouds {     
    0% { 
        top: 100%;
    }

    100% { 
        top: -10%;
    }
}
@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
@-o-keyframes moveclouds {
    0% { 
        top: 100%;
    }

    100% { 
        top: -10%;
    }
}
@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}




/* ---------------- ABOUT & TRIVIA ---------------- */
#pageAbout {
    display: none;
    position: absolute;
    background-color: #161211;
    width: 40%;
    bottom: 0%; /* top: 20%; */
    left: 0%; /* left: 30% */
    z-index: 200;
    margin:  auto;
    border-radius: 1.04vw;
    filter: drop-shadow(0px 2px 2px black);
    
}
#pageAbout > p {
    text-align: center;
    margin-bottom: 0.781vw;
    font-size: 0.833vw;
}

#pageTrivia {
    display: none;
    width: 50%;
    margin: 0 auto;
    z-index: 5;
    font: normal 0.938vw "Mate SC";
    
}

.triviaCategory {
    font: italic 0.729vw "Mate SC";
    color: #b7b7b7;
}

.triviaQuestion {
    text-transform: lowercase;
    padding-bottom: 0.5em;
}

.triviaChoices {
    display: block;
    background-color: #141010; /* #120e0e*/
    color: #c8c8c8;
    padding: 0.2em;
    border-top: 1px solid #120e0e;
    border-bottom: 1px solid #120e0e;
    border-right: 2px solid #120e0e;
    border-left: 2px solid #120e0e;
    margin: auto;
    text-align: center;
    text-decoration: none;
    cursor: inherit;
    width: 100%;
    font: inherit;
    text-transform: lowercase;
}

.triviaChoices:hover {
    filter: brightness(0.8);
}
.triviaChoices:active {
    filter: brightness(0.6);
}


/* ---------------- FOOTER ---------------- */

.langHint {
    margin: auto;
    text-align: center;
    font-size: 0.833vw;
    opacity: 0.4;
    z-index: 30;
}

.copyright {
    display: inline-block;
    color: gray;
    position: absolute;
    font-size: 13px;
    margin-top: 0.9em;
    
}
.copyrightText {
    position: absolute;
    width: 58vw;
    display: inline-block;
    left: 1.563vw;
    top: 0.104vw;
}

.hitcounter img {
    border-top-right-radius: 0.26vw;
}

.hitcounter {
    display: none;
    position: absolute;
    
}

.copyright p:hover+img+.hitcounter{
    display: block;
}

.socials {
    right: 0;
    top: 0;
    position: absolute;
}
.socials > a {
    text-decoration: none;
    cursor: inherit;
}

.iconother {
    display: inline-block;
    position: relative;
    filter: brightness(0.9);
    margin: 0.26vw;
    width: 1.563vw;
    
}
.iconother:hover {
    filter: brightness(0.7);
}