.toc {
    display: none;
}

table {
    background: var(--surface2);

    th {
        text-align: left;
    }

    td, th {
        padding: 1rem;
    }

    tr {
        background: var(--surface1);
    }
}