article.guide {
    // border: 2px dashed green;
    max-width: 60ch;

    h2,
    h3,
    h4,
    h5,
    h6 {
        position: relative;

        :hover::before {
            content: '#';
            position: absolute;
            left: -1.3ch;
            color: gray;
        }
    }
}