.latest-news-wrapper {
    display: flex;
    gap: 2rem;
}

.credits {
    padding: 3rem 0;
    color: gray;

    h3 {
        margin: 0;
        color: white;
    }

    ul {
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}