@font-face {
    font-family: "Blue Protocol";
    src: url("../../public/static/fonts/BlueProtocolUnofficial.ttf");
}

@font-face {
    font-family: "Pearl Std";
    src: url("../../public/static/fonts/PearlStd.ttf");
}

@font-face {
    font-family: "Skip Std";
    src: url("../../public/static/fonts/SkipStd.ttf");
}

@font-face {
    font-family: "Seurat Pro";
    src: url("../../public/static/fonts/SeuratPro.ttf");
}

@font-face {
    font-family: "New Rodin Pro";
    src: url("../../public/static/fonts/NewRodinPro.ttf");
}

@font-face {
    font-family: "Stone Informal";
    src: url("../../public/static/fonts/StoneInformal.ttf");
}

@font-face {
    font-family: "Kakugo";
    src: url("../../public/static/fonts/Kakugo.ttf");
}

@font-face {
    font-family: "Century Gothic Pro";
    src: url("../../public/static/fonts/CenturyGothicPro.ttf");
}

body {
    font-family: "Skip Std", sans-serif;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Stone Informal";
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.17em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.83em;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid deepskyblue;
}