@font-face {
    font-family: "Blue Protocol";
    src: url("../../public/static/fonts/BlueProtocolUnofficial.ttf");
}

@font-face {
    font-family: "Pearl Std";
    src: url("../../public/static/fonts/PearlStd.ttf");
}

@font-face {
    font-family: "Skip Std";
    src: url("../../public/static/fonts/SkipStd.ttf");
}

@font-face {
    font-family: "Seurat Pro";
    src: url("../../public/static/fonts/SeuratPro.ttf");
}

@font-face {
    font-family: "New Rodin Pro";
    src: url("../../public/static/fonts/NewRodinPro.ttf");
}

@font-face {
    font-family: "Stone Informal";
    src: url("../../public/static/fonts/StoneInformal.ttf");
}

@font-face {
    font-family: "Kakugo";
    src: url("../../public/static/fonts/Kakugo.ttf");
}

@font-face {
    font-family: "Century Gothic Pro";
    src: url("../../public/static/fonts/CenturyGothicPro.ttf");
}