.leaflet-container {
    height: 100%;
    background-image: url("/images/map/mapbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    cursor: inherit !important;
    outline: none !important;
    position: relative;
}

.leaflet-control-container .leaflet-top.leaflet-left {
    position: absolute;
    left: auto;
    right: 10px;
}

.leaflet-bar {
    border: 1px solid var(--surface3) !important;
    box-shadow: 0 2px 2px var(--surface-shadow) !important;

    a {
        color: var(--text2);
    }

    a, 
    a:hover, 
    a:focus-visible {
        background: var(--surface1);
        border-color: var(--surface2);
    }

    a:hover, 
    a:focus-visible {
        color: var(--text1);
    }

    a.leaflet-disabled {
        color: gray !important;
        background: var(--bg) !important;
    }
}



// .leaflet-marker-icon {
//     width: 42px !important;
//     height: 42px !important;
//     object-fit: none;
//     cursor: inherit !important;
// }

// .map-zone-label {
//     background: unset !important;
//     font-family: "Skip Std";
//     color: #f2e0c1 !important;
//     border-color: transparent !important;
//     font-size: 1rem !important;
//     // text-shadow: 0 0px 3px var(--surface-shadow);
//     box-shadow: unset !important;
//     margin: 0 !important;

//     &::before {
//         content: unset !important;
//         border: unset !important;
//     }
// }