@font-face {
    font-family: "Blue Protocol Unofficial";
    src: url("../../public/static/fonts/Blue-Protocol-Unofficial.ttf");
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    header {
        font-size: 2rem;
    }
}
.nav-links {
    display: flex;
}
.nav-links a {
    padding: 1rem;
    background: green;
}