.nav-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;

    input {
        font: inherit;
        color: inherit;
        padding: 0.5rem;
        border: none;
        background: none;
        background: black;
        max-width: 21ch;
    }

    input:focus {
        background: white;
        color: black;
    }
}

.nav-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;

    li {
        border-top: 0.25rem solid transparent;
        margin-bottom: 0.25rem;
    }

    li:hover {
        border-color: crimson;
    }

    li.active {
        color: crimson;
        border-top-color: crimson;
        background: linear-gradient(rgba(114, 0, 44, 0.445), transparent);
    }

    a {
        display: block;
        padding: 1rem;
        border: none;
    }
}

.nav-extras {
    display: flex;
    align-items: center;
    gap: 1rem;
}