.wrapper {
    display: flex;
    position: relative;
    transition: left 0.35s ease;
    height: 100vh;
    width: 100vw;
    left: -300px;
}

.content {
    width: 100vw;
}

.container { 
    max-width: 800px;
    min-width: 500px;
    height: 100vh;
    padding: 1.5rem 2rem;
    background: rgba(28, 28, 38, 0.55);
    position: relative;
    margin: auto;
    left: 150px;
}

.crosshair {
    width: 800px;
    height: 3px;
    background: white;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    padding: 0rem 2rem;
}

#page-guides {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        font-weight: normal;
        text-align: center;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 1rem;
        margin: 0;
        padding: 0;
        justify-content: center;
    }

    li {
        width: 18%;
        flex-basis: 1;
        flex-grow: 1;
        text-align: center;
        background:
            linear-gradient(177deg, rgb(25, 46, 99), rgba(255, 0, 0, 0) 90.71%),
            linear-gradient(107deg, rgb(55, 32, 65), rgba(0, 255, 0, 0) 90.71%),
            linear-gradient(316deg, rgb(33, 26, 58), rgba(0, 0, 255, 0) 90.71%);
        padding: 1.5rem 1rem;
        border-radius: 0.75rem;
        transition: transform 0.2s ease;
        filter: drop-shadow(0 2px 2px #111111);

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

        img {
            height: 60px;
            margin-bottom: 0.5rem;
            filter: brightness(0.9);
        }
    }
}

.hide {
    height: 1px;
    padding: 0 1rem;
    visibility: hidden;
}