@media (max-width: 900px) {
    nav {
        display: none;
    }
    .middle-wrapper {
        min-width: 100%;
        max-width: 100%;
    }
}

nav {
    font-family: "Roboto", "Arial";
    height: 100%;
    min-width: 300px;
    background: rgba(8, 8, 8, 0.85);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    text-align: left;
    position: relative;
    z-index: 100;

    h4 {
        padding-left: 2rem;
        text-transform: uppercase;
        color: gray;
        margin: 0;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-size: 1.6rem;
            padding: .75rem 0 .75rem 2rem;
            border-left: 0px solid #c8c8c8;
            
            &:hover {
                border-left: 0px solid #c8c8c8;
                background: #16161f;
            }

            &.active {
                background: #101022;
                color: deepskyblue;
                border-left: 0px solid deepskyblue;
                font-weight: bold;
            }
        }
    }

}

