.guide .active {
    background: var(--surface1);
    color: var(--link) !important;
}

.guides-list a:not(.btn),
.toc li {
    color: var(--text2);

    &:hover {
        background: rgba(246, 247, 249, 0.05);
        color: var(--text1);
    }
}

.guides-list a:not(.btn) {
    padding: 0.75rem 1rem 0.75rem 2rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.toc li {
    padding: 0.75rem 2rem 0.75rem 1rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    line-height: normal;
    max-inline-size: none;

    &:hover,
    &:focus-visible {
        text-decoration: underline;
    }
}

:where(h2, h3, h4) {
    scroll-margin-top: 1rem;
}

.guide .hero-banner {
    grid-column: 1/-1;
}

.toc {
    grid-column: 3;
    top: 62px !important;

    h2 {
        font: inherit;
        color: var(--text2);
        font-weight: bold;
        border-bottom: 1px solid var(--surface2);
    }

    ol {
        gap: 0;
        max-inline-size: none;
    }

    li {
        cursor: inherit !important;
    }
}

@media (max-width: 1200px) {
    .toc {
        display: none;
    }
}

.guide article {
    --text-width: 38rem; // roughly 55ch
    --bleed-width: 56.25rem; // 900px
    grid-template-columns: 1fr min(calc(100% - 4rem), var(--bleed-width)) 1fr;

    &>*,
    figure *,
    .full-bleed,
    p img {
        grid-column: 2;
        max-width: 100%;
    }

    p,
    ol,
    ul,
    aside {
        max-inline-size: var(--text-width);
    }

    table,
    &>video,
    &>img,
    p>img {
        margin: 1rem auto;
        border-radius: 1rem;
        width: 100%;
    }

    figure * {
        width: 100%;
        border-radius: 1rem;
    }

    p {
        line-height: 2;
    }

    p:first-child {
        padding-top: 2.5rem;
    }
}

@media (max-width: 900px) {
    .guide article {
        grid-template-columns: 1fr min(calc(100% - 2rem), var(--text-width)) 1fr;

        p,
        ol,
        ul,
        aside {
            font-size: var(--step-0);
        }

        .full-bleed,
        table,
        &>video,
        &>img,
        p>img,
        figure {
            grid-column: 1/-1 !important;
            width: calc(100% - 2rem);
            margin: 1rem auto;
        }

        figure .video,
        p>img {
            width: 100%;
        }

        figcaption,
        caption {
            text-align: center;
        }
    }
}