.layout-right, .layout-left {
    gap: var(--space-xs);
}

.layout-left {
    grid-template-columns: 250px 1fr;
    align-items: start;
}

.layout-right {
    --toc-width: 40ch;
    --text-width: 60ch;
    grid-template-columns: min(var(--text-width), calc(100% - 2rem)) 1fr var(--toc-width);
    padding-top: 3.5rem;

    &>* {
        grid-column: 1;
    }

    .full-bleed,
    table,
    &>video,
    &>img:not(.bg-img),
    figure,
    figure img,
    .toc,
    p img {
        grid-column: 1 / 3;
        margin: 1rem 0;
        border-radius: 1rem;
    }

    figure video {
        width: 100%;
        border-radius: 1rem;
    }

    &>img:not(.bg-img),
    figure img {
        filter: brightness(0.7);
        transition: filter 0.4s ease;

        &:hover {
            filter: brightness(1);
        }
    }

    p,
    aside {
        max-inline-size: unset;
        line-height: 2;
    }
}

nav.guides-list,
nav.toc {
    font-size: var(--step-0);
    top: 62px;

    a:not(.btn) {
        color: var(--text2);

        &:hover {
            background: rgba(246, 247, 249, 0.05);
            color: var(--text1);
        }
    }

    .active {
        background: var(--surface1);
        color: var(--link) !important;
    }
}

nav.guides-list {
    position: sticky;
    max-width: 250px;

    a:not(.btn) {
        padding: 0.75rem 1rem 0.75rem 2rem;
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }
}


.toc {
    border-radius: 1rem;
    background: var(--surface1);
    width: 100%;
    margin-left: auto;
    grid-row: 1/16;
    position: initial;

    ol {
        gap: 0;
        list-style-type: none;
        padding: 0;
        margin: 0;
        max-inline-size: none;
    }

    &>ol {
        padding-left: 0;
    }

    li {
        width: 100%;
        line-height: unset;
    }

    a {
        display: block;
        width: 100%;
    }

    a:not(:where(:hover, :focus-visible)) {
        text-decoration: none;
    }

    a:not(.btn) {
        padding: 0.75rem 2rem 0.75rem 1rem;
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
    }

    ol ol a {
        padding-left: 2.5rem !important;
    }

    &::before {
        content: "In this article";
        display: block;
        padding: 1rem 1rem;
        margin-bottom: 0.5rem;
        font-weight: bold;
        border-bottom: 1px solid var(--surface2);
    }
}

// HYPERLINKS ===================================================

:where(h2, h3, h4, h5, h6) {

    &:hover a {
        opacity: 1;
    }

    a {
        opacity: 0;
        text-decoration: none;
        margin-left: 0.25em;
        font-size: 1.4rem;

        &::after {
            content: "\1f517";
        }
    }
}

// RESPONSIVE ===========================================

@media (min-width: 1300px) {
    

    .layout-right {
        // grid-template-columns: min(55ch, calc(100% - 2rem)) 250px;
    }

    .toc {
        position: sticky;
        grid-column: 3 !important;
        top: 62px;
        background: none;
    }
}

@media (max-width: 1299px) {
    .layout-right {
        --toc-width: 0px;
    }
}


// SCROLL TRACKER ==========================================
@supports (scroll-timeline: name) {
    .scroll-tracker {
        position: fixed;
        inset: 0;
        height: 4px;
        z-index: 5000;
        background: var(--accent);
        transform-origin: left;
        animation: trackScroll 1s linear forwards;
        animation-timeline: scroll-tracker-timeline;
        box-shadow: 0 1px 2px var(--surface-shadow);
    }
}

@keyframes trackScroll {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}