body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #080605;
    background-color: rgb(14, 0, 41);
    font-family: "Mate SC", "Kosugi Maru", "Noto Sans JP", "Roboto", "Arial";
    color: #c8c8c8;
    // cursor: url(/bapharia.com/images/cursor.png), pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scrollbar-width: none;
}

#root {
    background: linear-gradient(237deg, rgba(3, 32, 65, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(167deg, rgba(44, 14, 56, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(376deg, rgba(11, 11, 43, 0.8), rgba(0,0,255,0) 70.71%);
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: 'Blue Protocol';
    src: url('./assets/Blue-Protocol-Inofficial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}