@use './abstracts' as *;

html,
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

html {
    background-color: #080605;
    // background-color: rgb(14, 0, 41);
    // background-color: rgb(61, 6, 27);
}

body {
    background: linear-gradient(237deg, rgba(3, 32, 65, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(167deg, rgba(44, 14, 56, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(376deg, rgba(11, 11, 43, 0.8), rgba(0, 0, 255, 0) 70.71%);
    min-height: 100vh;
    min-width: 100vw;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}



// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }

h1 {
    font-family: "Skip Std";
}
h2 {
    font-family: "Pearl Std";
}
h3 {
    font-family: "Stone Informal";
}
h4 {
    font-family: "Seurat Pro";
}
h5 {
    font-family: "New Rodin Pro";
}
h6 {
    font-family: "Kakugo";
}