@use './abstracts' as *;

html,
body {
    padding: 0;
    margin: 0;
}

html {
    background-color: #080605;
    // background-color: rgb(61, 6, 27);
}

body {
    background: linear-gradient(237deg, rgba(3, 32, 65, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(167deg, rgba(44, 14, 56, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(376deg, rgba(11, 11, 43, 0.8), rgba(0, 0, 255, 0) 70.71%);
    min-height: 100vh;
    min-width: 100vw;
}

* {
    box-sizing: border-box;
}

main {
    max-width: 1400px;
    margin: 0 auto;
}

hr {
    border: none;
    margin: 1.5em 0;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.384);
}

.card {
    background: rgb(15, 14, 14);
    background: black;
    padding: 1.5rem;
    max-width: 460px;

    header {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
    }

    header a {
        font-size: 1.4rem;
        color: dodgerblue;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        border: none;
    }

    header span {
        float: right;
        color: gray;
    }
}

.hero-banner {
    margin: 4em 0;
    margin-bottom: calc(4em + 73px);

    h1,
    h3 {
        font-family: "Skip Std";
        margin: 0;
    }

    h3 {
        color: lightgray;
    }
}