@use './abstracts' as *;

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Skip Std", sans-serif;
    color: white;
}

html {
    background-color: #080605;
    // background-color: rgb(14, 0, 41);
    // background-color: rgb(61, 6, 27);
}

body {
    background: linear-gradient(237deg, rgba(3, 32, 65, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(167deg, rgba(44, 14, 56, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(376deg, rgba(11, 11, 43, 0.8), rgba(0, 0, 255, 0) 70.71%);
    min-height: 100vh;
    min-width: 100vw;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}




// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }


h1,
h2,
h3 {
    font-family: "Stone Informal";
}

h1 {
    font-size: 6rem;
}

main {
    max-width: 1400px;
    margin: 0 auto;
}

.latest-news-wrapper {
    display: flex;
    gap: 2rem;
}

.card {
    background: rgb(15, 14, 14);
    background: black;
    padding: 1.5rem;
    max-width: 460px;

    header {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
    }
    
    header a {
        font-size: 1.4rem;
        color: dodgerblue;
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }

    header span {
        float: right;
        color: gray;
    }

}




